<%= form_with(model: [@task.category, @task]) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="border-2 border-black flex flex-col p-4 rounded-lg">
      <div class="flex justify-center font-bold text-lg pb-2">Add a task</div>
      <div class="flex justify-evenly items-start pb-2">
        <%= f.label :task_name, class:""%>:
        <%= f.text_field :task_name, class:"border-b-2 focus:outline-none focus:ring ml-4" %>
      </div>
      <div class="flex flex-col justify-evenly items-start pb-2">
        <%= f.label :task_details, "Task details:" %>
        <%= f.text_area :task_details, class:"pr-24 focus:outline-none focus:ring border-2 border-opacity-75" %>
      </div>
      <div class="flex justify-between pt-2">
        <%= f.label :status, "Status:" %>
        <%= f.select :status, Task::STATUS_OPTIONS %>
      </div>
      
      <div class="flex justify-center pt-4">
        <%= f.submit class: "btn btn-success" %>
      </div>
  </div>
<% end %>
