<p id="notice"><%= notice %></p>


<div class="flex border-2 border-blue-100 justify-evenly items-center">
  
  <div class="">
    <div class="font-bold text-2xl">
      
      <%= @category.name%>
    </div>
      <%= link_to 'Edit', edit_category_path(@category) %> |
      <%= link_to 'Back', categories_path %>
  </div>
  <div class="">
    <%= render 'tasks/form' %>
  </div>  
</div>


<h1>List of tasks</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Status</th>
    <th>Category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @category.tasks.each do |task| %>
  <% if task.persisted? %>
    <tr>
      <td><%= task.name %></td>
      <td><%= task.description %></td>
      <td><%= task.status %></td>
      <td><%= task.category %></td>
      <td><%= link_to 'Show', [task.category, task] %></td>
      <td><%= link_to 'Edit', edit_category_task_path(task.category, task) %></td>
      <td><%= link_to 'Destroy', [task.category, task], method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
<% end %>
</table>

<br />

<%= link_to 'New Task', new_category_task_path(@category.id) %>

