<div class="">
      <%= link_to 'Back', categories_path, class: "btn btn-secondary" %>
      
</div>

<div class="flex shadow-md justify-between items-end mx-32 pb-3 px-4">
    
    
      <div class="font-bold text-2xl flex flex-col items-center">
        <div class="pb-5 pl-2"><%= @category.name%></div>
        <%= link_to 'Edit', edit_category_path(@category), class:"btn btn-info p3" %> 
      </div>
      <div><%= link_to 'View Tasks Today', category_tasks_path(@task.category), class: "btn btn-success ml-3" %></div>
    
  <div>
      <%= form_with(model: [@task.category, @task]) do |f| %>
        <% if @task.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

            <ul>
            <% @task.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

      <div class="border-2 border-black flex flex-col p-2 rounded-lg bg-yellow-100">
          <div class="flex justify-center font-bold text-lg pb-2">Add a task</div>
          <div class="flex justify-evenly items-start pb-2">
            <%= f.label :name, "Task Name", class:""%>:
            <%= f.text_field :name, class:"border-b-2 focus:outline-none ml-4" %>
          </div>
          <div class="flex items-center pt-2 form-group">
            <%= f.label :status, "Status:", class:"mr-14" %>
            <%= f.select :status, Task::STATUS_OPTIONS, {}, class:"w-32 h-9 form-control" %>
          </div>
          <div>
            <%= f.label :date, "Due Date:", class:"mr-8"  %>
            <%= f.date_field :date %>
          </div>
          
          <div class="flex justify-center pt-4">
            <%= f.submit class: "btn btn-success" %>
          </div>
      </div>
      <% end %>

    </div>  
  </div>

<div class="flex justify-start mt-4 ml-32 font-bold text-lg">
  <h1>Tasks</h1>
</div>

<div class="grid grid-cols-2 gap-3 mx-32 pt-2">
  <% @category.tasks.each do |task| %>
  <% if task.persisted? %>
  <div class="border-2 border-blue-100 mt-2 pt-2 pl-3">
      <div class="flex">
        <div class="p-1 text-s">
          <span class="badge badge-<%= task.badge_color %> p-1 mr-2"><%= task.status %></span>
          <% if task.date? %>
          <span class="text-sm">Due on: <%= task.date %></span>
          <% end %>
        </div>
      </div>
      <div class="flex justify-between">
        <div class="text-lg font-bold pb-3 pt-2"> 
          <%= task.name %>
        </div>
        <div class="mr-5">
         
        </div>
      </div>
      <div class="flex pb-3">
        <div>
           <%= link_to 'Details', [task.category, task], class:"btn btn-secondary p-1" %>
          <%= link_to 'Edit', edit_category_task_path(task.category, task), class:"btn btn-secondary p-1" %>
          <%= link_to 'Delete', [task.category, task], method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger p-1" %> 
          
        </div>
        <div>
          
        </div>  
      </div>
   </div>   
  <% end %>
<% end %>
</div>







